@using GoodianoBlog.Application.Services.Posts.Query.Admin.Posts.GetAllPosts
@model List<ResultGetAllPostsDto>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="container-fluid">
        <!-- Zero configuration table -->
        <section id="configuration">

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title-wrap bar-success">
                                <h4 class="card-title">لیست پست ها</h4>
                            </div>
                        </div>
                        <div class="card-body collapse show">
                            <div class="card-block card-dashboard">
                                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
                                    <div class="col-sm-12">
                                        <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                            <thead>
                                                <tr role="row">
                                                    <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 150px;">تیتر</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 150px;">نویسنده</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 150px;">تگ</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 100px;">زمان مطالعه</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 150px;">دسته بندی</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 150px;">تصویر اصلی</th>
                                                    <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="ایمیل: activate to sort column ascending" style="width: 222px;">محتوا</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model)
                                                {
                                                    <tr role="row" class="odd">
                                                        <td class="sorting_1">@item.Title</td>
                                                        <td>@item.Author</td>
                                                        <td>@item.Tag</td>
                                                        <td>@item.Time دقیقه</td>
                                                        <td>@item.PostCategory</td>
                                                        <td><img src="~/@item.FirstSlideSrc" class="img-thumbnail"></td>

                                                        <td>
                                                            <p>
                                                                <span id="dots">برای نمایش محتوا کلیک کن</span>
                                                                <span id="more" style="display:none;">@item.Content</span>
                                                            </p>
                                                            <button class="btn btn-success" onclick="myFunction()" id="myBtn">نمایش محتوا</button>
                                                        </td>
                                                        
                                                        <td>
                                                            <a class="btn btn-info" href="Edit?Id=@item.Id" >ویرایش</a>
                                                            <button class="btn btn-danger" onclick="DeletePost('@item.Id')">حذف</button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </section>
    </div>
</div>


@section Scripts
{

<link href="~/Sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<script src="~/Sweetalert2/sweetalert2.min.js"></script>

<script>

        //نمایش و عدم نمایش مقدارمحتوا به علت زیادی مقدارش
        function myFunction() {
      var dots = document.getElementById("dots");
      var moreText = document.getElementById("more");
      var btnText = document.getElementById("myBtn");

      if (dots.style.display === "none") {
        dots.style.display = "inline";
        btnText.innerHTML = "نمایش محتوا";
        moreText.style.display = "none";
      } else {
        dots.style.display = "none";
        btnText.innerHTML = "عدم نمایش محتوا";
        moreText.style.display = "inline";
      }
    }

        function DeletePost(Id) {
            swal.fire({
                title: 'حذف کاربر',
                text: "از حذف پست مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'Id': Id,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }



        //function Editpost(){

        //    var Id = $("#Edit_Id").val();
        //    var Title = $("#Edit_Title").val();
        //    var Author = $("#Edit_Author").val();
        //    var Time = $("#Edit_Time").val();
        //    var Category = $("#Edit_PostCategory").val();
        //    var FirstSlide = $("#Edit_FirstSlideSrc").val();
        //    var Content = $("#Edit_Content").val();


        //    var postData = {
        //        'Id': Id,
        //        'Title': Title,
        //        'Author': Author,
        //        'Time': Time,
        //        'PostCategory': Category,
        //        'FirstSlideSrc': FirstSlide,
        //        'Content': Content,
        //    };


        //    $.ajax({
        //        contentType: 'application/x-www-form-urlencoded',
        //        dataType: 'json',
        //        type: "Post",
        //        url: "Edit",
        //        data: postData,
        //        success: function (data) {
        //            if (data.isSuccess == true) {
        //                swal.fire(
        //                    'موفق!',
        //                    data.message,
        //                    'success'
        //                ).then(function (isConfirm) {
        //                    location.reload();
        //                });
        //            }
        //            else {
        //                swal.fire(
        //                    'هشدار!',
        //                    data.message,
        //                    'warning'
        //                );
        //            }
        //        },
        //        error: function (request, status, error) {
        //            alert(request.responseText);
        //        }
        //    });

        //    $('#EditPost').modal('hide');

        //}

        //function ShowModalEditPost(Id, Title, Author, Time, PostCategory, FirstSlideSrc, Content) {
        //    $('#Edit_Id').val(Id)
        //    $('#Edit_Title').val(Title)
        //    $('#Edit_Author').val(Author)
        //    $('#Edit_Time').val(Time)
        //    $('#Edit_PostCategory').val(PostCategory)
        //    $('#Edit_FirstSlideSrc').val(FirstSlideSrc)
        //    $('#Edit_Content').val(Content)

        //    $('#EditPost').modal('show');

        //}

</script>

}
@*
@section Modals
{
<!-- Modal Edit User -->
<div class="modal fade" id="EditPost" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">ویرایش کاربر</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xl-12 col-lg-12 col-md-12 mb-1">
                    <fieldset class="form-group">
                        <input type="hidden" id="Edit_Id" />
                        <label for="basicInput">تیتر</label>
                        <input type="text" class="form-control" id="Edit_Title">
                        <label for="basicInput">نویسنده</label>
                        <input type="text" class="form-control" id="Edit_Author">
                        <label for="basicInput">زمان مطالعه</label>
                        <input type="text" class="form-control" id="Edit_Time">
                        <label for="basicInput">دسته بندی</label>
                        <input type="text" class="form-control" id="Edit_PostCategory">
                        <label for="basicInput">تصویر اصلی</label>
                        <input type="text" class="form-control" id="Edit_FirstSlideSrc">
                        <label for="basicInput">محتوا</label>
                        <input type="text" class="form-control" id="Edit_Content">
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" data-dismiss="modal">بستن</a>
                <a class="btn btn-primary" onclick="Editpost()">اعمال تغییرات</a>
            </div>
        </div>
    </div>
</div>
}*@



@*onclick="ShowModalEditPost('@item.Id' , '@item.Title' , '@item.Author' , '@item.Time' , '@item.PostCategory' , '@item.FirstSlideSrc' , '@item.Content')"*@